html,body,#loadingArea {
	height:100%;
	font-family: 'Audiowide', cursive;
}

ul {
	list-style-type: none;    
	overflow: hidden;
	background-color: #0a0a0a;    
}

li {
	float: left;
	padding: 20px;
	color: white;
}

.selected {
	border-top: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;	
}

.writing {	
	background: white;
	color: black;
	opacity: 0.8;
	border-radius: 10px;	
	width: 50%;		
	padding: 10px;
	border: 1px solid black;
}

.background-food {
	background-image: url('images/steak-house.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.background-table {
	background-image: url('images/table-restaurant.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.background-street {
	background-image: url('images/wet-street.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}